
:root{
    --purp: #7F7EFF;
    --light: #49BEB7;
    --dark: #085F63;
    --yelo: #FACF5A;
}

*{
    box-sizing:border-box;
    text-align:center;
    font-family: Courier;

}

html{
    height: 100%;
    background: radial-gradient(circle, #ffffff,#addbd3);
    opacity: .8;
}

#container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:50%;
    margin:10% auto;
    padding: 2% 0%;
    background-color: var(--dark);
    box-shadow: 8px 8px 0px 0px var(--light);
    border-radius: 5px;
}

#botSpan{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:2%;
}

#highScore{
    color:white;
    background-color: var(--light);
    box-shadow: 5px 5px 0px 0px var(--yelo);
    border-radius: 5px;
    width: 25%;
    padding: 2% 2%;
    transition: all 0.2s;
    border-style:none;
    outline:none;
    font-size: 18px;
    text-decoration:none;
}

#timer{
    color:white;
    background-color: var(--purp);
    box-shadow: 5px 5px 0px 0px var(--light);
    border-radius: 5px;
    width: 25%;
    margin: 0% 5% 2% 0%;
    padding: 2% 2%;
    display:none;
}

#question{
    color:white;
    background-color: var(--light);
    box-shadow: 5px 5px 0px 0px var(--yelo);
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
    padding: 2% 2%;
    font-size:22px;
    display:none;
}

#guesses{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:45%;
    margin:0px auto;
    display:none;
}

.answers{
    margin: 1.5% 0;
    padding: 1%;
    list-style:none;
    font-size:20px;
    background-color: var(--purp);
    border-radius: 5px;
    box-shadow: 4px 4px 0px 0px var(--light);
    color:white;
    transition: all 0.2s;
    border-style:none;
    outline:none;
}

#startGame{
    margin: 0% auto 2% auto;
    width:25%;
    padding: 2% 1%;
    background-color: var(--purp);
    box-shadow: 4px 4px 0px 0px var(--light);
    color:white;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s;
    border-style:none;
    outline:none;
}

/* Changes the button coloring when hovering to make the user realize what they are about to select */
.answers:hover, #startGame:hover, #highScore:hover, #goBack:hover{
    background-color: var(--yelo);
    color:black;
    box-shadow: 4px 4px 0px 0px var(--purp);
    border-style:none;
    outline:none;
    cursor:pointer;
}

/* Slightly different than the hover event, but shrinks in the shadow and makes it look like the button is being clicked */
.answers:active, #startGame:active, #highScore:active, #goBack:active{
    background-color: var(--yelo);
    color:black;
    box-shadow: 0px 0px var(--purp);
    border-style:none;
    outline:none;
    cursor:pointer;
}

#score {
    background-color: var(--yelo);
    width:30%;
    margin:1% auto;
    font-size:18px;
    font-weight:bold;
    padding-bottom:2%;
    box-shadow: 5px 5px 0px 0px var(--purp);
    border-radius: 5px;
    display:none;
}

#scoreValue{
    font-size:30px;
    color: #FF5959;
    margin: 0px;
}

#initials{
    width: 40%;
}

#scoreSubmit{
    margin-top:2%;
    font-size:18px;
    width: 45%;
    background-color: var(--purp);
    color:white;
    box-shadow: 4px 4px 0px 0px var(--light);
    border-radius: 5px;
    border-style:none;
    outline:none;
    transition: all 0.2s;
}

/* Similar to hover and active events above, but with different colors */
#scoreSubmit:hover{
    background-color: var(--light);
    box-shadow: 4px 4px 0px 0px var(--dark);
    border-style:none;
    outline:none;
    cursor:pointer;
}

#scoreSubmit:active{
    background-color: var(--light);
    box-shadow: 0px 0px var(--dark);
    border-style:none;
    outline:none;
    cursor:pointer;
}

#hsContainer{
    background-color: var(--yelo);
    width:20%;
    padding: 1% 0%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 0px 0px var(--light);
}

#scoreList{
    list-style:none;
    margin:auto auto auto 10%;
}

#scoreList li{
    margin: 3%;
    font-size:30px;
    width:70%;
    font-weight:bold;
    color: white;
    background-color: var(--light);
    box-shadow: 4px 4px 0px 0px var(--dark);
    border-radius: 5px;
}

#hsHdr {
    background-color: var(--purp);
    color: white;
    box-shadow: 4px 4px 0px 0px var(--dark);
    border-radius: 5px;
    width: 15%;
    margin: 1% auto;
    padding: .5%;
    font-size: 36px;
}

#goBack {
    background-color: var(--purp);
    color: white;
    box-shadow: 4px 4px 0px 0px var(--dark);
    border-radius: 5px;
    width: 15%;
    padding: .5%;
    font-size: 20px;
    text-decoration:none;
    transition: all 0.2s;
}