:root{
    --purp: #7F7EFF;
    --light: #49BEB7;
    --dark: #085F63;
    --yelo: #FACF5A;
}

*{
    box-sizing:border-box;
    text-align:center;
    font-family: Courier;

}

html{
    height: 100%;
    background: radial-gradient(circle, #ffffff,#addbd3);
    opacity: .8;
}

#container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:50%;
    margin:10% auto;
    padding: 2% 0%;
    background-color: var(--dark);
    box-shadow: 8px 8px 0px 0px var(--light);
    border-radius: 5px;
}

#botSpan{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center
}

#highScore{
    color:white;
    background-color: var(--light);
    box-shadow: 5px 5px 0px 0px var(--yelo);
    border-radius: 5px;
    width: 25%;
    /* margin: 0% 0 2% 5%; */
    padding: 2% 2%;
    transition: all 0.2s;
}

#highScore a{
    text-decoration: none;
    color: white;
}

#timer{
    color:white;
    background-color: var(--light);
    box-shadow: 5px 5px 0px 0px var(--yelo);
    border-radius: 5px;
    width: 25%;
    margin: 0% 5% 2% 0%;
    padding: 2% 2%;
    display:none;
}

#question{
    color:white;
    background-color: var(--light);
    box-shadow: 5px 5px 0px 0px var(--yelo);
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
    padding: 2% 2%;
    font-size:22px;
    display:none;
}

#guesses{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:45%;
    margin:0px auto;
    display:none;
}

.answers{
    margin: 1.5% 0;
    padding: 1%;
    list-style:none;
    font-size:20px;
    background-color: var(--purp);
    border-radius: 5px;
    box-shadow: 4px 4px 0px 0px var(--light);
    color:white;
    transition: all 0.2s;
}

#startGame{
    margin: 2% auto;
    width:25%;
    padding: 1%;
    background-color: var(--purp);
    box-shadow: 4px 4px 0px 0px var(--light);
    color:white;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s;
    border-style:none;
    outline:none;
}

.answers:hover, #startGame:hover, #highScore:hover{
    background-color: var(--yelo);
    color:black;
    box-shadow: 4px 4px 0px 0px var(--purp);
    border-style:none;
    outline:none;
}

.answers:active, #startGame:active, #highScore:active{
    background-color: var(--yelo);
    color:black;
    box-shadow: 0px 0px var(--purp);
    border-style:none;
    outline:none;
}